<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 5px;margin: 0;background-color: rgb(255, 242, 222);">
    <header>
        <h2 class="title" style="padding: 2px;">{{subject}}</h2>
    </header>
    <div class="content" style="width: 90%;margin-left: auto;margin-right: auto;">
        <h4>Chào {{email}}</h4>
        <div class="main" style=" display: flex;">
            <div class="text" style="width: 30%;font-size: 15px;font-weight: bold;color: #c4c4c4;line-height: 60px;text-align: center;padding-top: 20px;">MÃ XÁC THỰC</div>
            <div class="notification">
                <p>Bạn đã yêu cầu xác thực email trên hệ thống Kim Anh Shop vào lúc {{time}}</p>
                <p>đây là mã code của bạn</p>
                <h3>{{code}}</h3>
            </div>
        </div>
        <p>Thanks you</p>
    </div>
</body>

</html>
